@page "/firmy"
@inject HttpClient httpClient
@using DTO
@inherits LayoutComponentBase

<PageTitle>Firmy</PageTitle>

<h1>Biura nieruchomościowe</h1>

<p>Lista polecanych biur nieruchomości</p>
@if (data != null)
@* {
    <ul>
        @foreach (var agencja in data)
        {
            <li>@agencja.NazwaAgencji @agencja.Nip @agencja.NrTelefonuAgencji @agencja.IdAgencji</li>

        }
    </ul>
} *@
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-image">
                    <thead>
                        <tr>
                            <th scope="col">Zdjęcie</th>
                            <th scope="col">Nazwa Agencji</th>
                            <th scope="col">NIP</th>
                            <th scope="col">Nr Telefonu Agencji</th>
                            <th scope="col">Email Agencji</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var agencja in data)
                        {
                            <tr>
                                <td class="w-25">
                                    @{
                                        // Utwórz nazwę pliku dla obrazu
                                        var imageFileName = $"firma{agencja.IdAgencji}.webp";
                                    }
                                    <img src="@($"{imageFileName}")" class="img-fluid img-thumbnail" alt="Agencja Image">
                                </td>
                                <td>@agencja.NazwaAgencji</td>
                                <td>@agencja.Nip</td>
                                <td>@agencja.NrTelefonuAgencji</td>
                                <td>@agencja.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}
else
{
    <p>Loading...</p>
}



@code {
    private List<Agencja> data;

    protected override async Task OnInitializedAsync()
    {
        var apiUrl = "https://localhost:7144/agencjas";

        try
        {
            data = await httpClient.GetFromJsonAsync<List<Agencja>>(apiUrl);
        }
        catch (Exception ex)
        {
            // Handle the exception
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}