@page "/firmy"
@inject HttpClient httpClient
@using Otodom.DTO
@inherits LayoutComponentBase

<PageTitle>Firmy</PageTitle>

<h1>Biura nieruchomościowe</h1>

<p>Lista polecanych biur nieruchomości</p>
@if (data != null)

{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-image">
                    <thead>
                        <tr>
                            <th scope="col">Zdjęcie</th>
                            <th scope="col">Nazwa Agencji</th>
                            <th scope="col">NIP</th>
                            <th scope="col">Nr Telefonu Agencji</th>
                            <th scope="col">Email Agencji</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var agencja in data)
                        {
                            <tr>
                                <td class="w-25">
                                    @{
                                        // Utwórz nazwę pliku dla obrazu
                                        var imageFileName = $"firma{agencja.IdAgencji}.webp";
                                    }
                                    <img src="@($"{imageFileName}")" class="img-fluid img-thumbnail" alt="Agencja Image">
                                </td>
                                <td>@agencja.NazwaAgencji</td>
                                <td>@agencja.Nip</td>
                                <td>@agencja.NrTelefonuAgencji</td>
                                <td>@agencja.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}
else
{
    <p>Loading...</p>
}

<footer>
    <div class="container">
        <p>&copy; 2024 HouseHolding.pl, Grupa HouseHolding sp. z o.o.</p>
        <p>
            <a href="https://poradnikprzedsiebiorcy.pl/warunki-wspolpracy">WARUNKI WSPÓŁPRACY</a>
            <a href="https://policies.google.com/privacy?hl=pl">POLITYKA PRYWATNOŚCI</a>
            <a href="https://support.google.com/accounts/answer/61416?hl=pl&co=GENIE.Platform%3DAndroid">USTAWIENIA PLIKÓW COOKIE</a>
        </p>
    </div>
</footer>

@code {
    private List<AgencjaResponse> data;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            data = await httpClient.GetFromJsonAsync<List<AgencjaResponse>>("https://localhost:7144/agencjas");
    }
        catch (Exception ex)
        {
            // Handle the exception
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}